.cadastros {
  display: grid;
  grid-template-columns: 15rem 1fr;
  // height: 100%;
  .menu-cadastros {
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
    // background: var(--gray-500);
    border-right: 1px solid var(--gray-600);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .content-cadastros {
    .resp-container {
      .table-body {
        width: 100%;
      }
    }
  }
}
